[core]
	editor = vim
	pager = less -x1,3
[color]
	ui = true
[user]
	name = myusername
	email = myuseremail
[push]
	default = simple
[credential]
	helper = cache --timeout=360000
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  lo = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
  type = cat-file -t
  dump = cat-file -p
